<div class="container p-6">
  <div class="row">

    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <div class="card-header">
          <h3>Inicio Matriculación Online</h3>
        </div>
       
        <div class="card-body">
          <form action="/inscripcion" method="POST">
             <div class="form-group">
                 {{#each ciclo_lectivo}}
                 <label for="ciclo_lectivo">Ciclo Lectivo a inscribir:   </label>
                 <input type="text" id="ciclo_lectivo" name="ciclo_lectivo"  class="form-control" >
                <script type="text/javascript">
                    document.getElementById('ciclo_lectivo').value = {{ciclo_lectivo}};
                </script>
                 {{else}}
                   <label for="ciclo_lectivo">Ingrese el Ciclo Lectivo a inscribir:</label>
                   <input type="text" name="ciclo_lectivo" value="Ingrese el ciclo lectivo de la inscripción" class="form-control" autofocus>
               {{/each}}
            </div>
            <div class="form-group">
              <label for="documento">DNI del Alumno/na:</label>
              <input type="text" id="documento" name="documento" placeholder="Ingrese DNI - solo número" class="form-control" autofocus>
            </div>
             <div class="form-group">
              <label for="documento_tutor">DNI del Tutor:</label>
              <input type="text" id="documento_tutor" name="documento_tutor" placeholder="Ingrese DNI - solo número" class="form-control">
            </div>
            <div class="form-group">
              <label for="nivel">Seleccione el Nivel de Enseñanza: </label>
              <select id="nivel" name="nivel" class="form-control">
                <option value="N">ELIJA UN NIVEL</option>
                <option value="I">INICIAL</option>
                <option value="P">PRIMARIO</option>
                <option value="S">SECUNDARIO</option>
             </select>
            </div>
            <button class="btn btn-primary btn-block">
              Ingresar
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>