<div class="container">

  <div class="row">
      <div class="col">
     
            <div class="overflow-auto">   
                <h2 class="text-center">PASO 1 DE 4 COMPLETADO  </h2>
                <h4 class="text-center"> Documento en proceso de Matriculación: {{documento_inscrip}}</h4>
                <br>
                <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                </div>
                <br>
                <div class="alert alert-success" role="alert">
                      Formulario de Solicitud de Matriculación cargado exitósamente.
                </div>
                <br>
                <div class="card text-white bg-primary">
                                    <div class="card-header">
                                        <h3>PASO 2 INFORMAR PAGO </h3>
                                    </div>
                                    <div class="card-body bg-light text-secondary">
                                     <h5 class="card-title">Pago de la Inscripción</h5>
                                        <p class="card-text">Se podrá informar el comprobante de pago como un archivo ditital. El comprobante podrá ser: </p>

                                         <u>
                                             <li>  Una transferencia bancaria (imagen o pdf) </li>
                                             <li>  Pagomisuentas.com (imagen o pdf del comprobante) </li>
                                             <li>  Recibo Oficial del colegio (imagen o pdf) </li>
                                         </u>
                                         <br>
                                         <p> Nota: Las imagenes pueden ser : obtenidas por un escaneo o una foto. Las fotos deberán ser nitidas y completas </p>
                                         <br>
                                        <a href="/inscripcion/informa_pago" class="btn btn-success" >Informar Pago</a>
                                     </div>
                </div>
            </div>
    </div>
   </div>
</div>