<div class="container">

  <div class="row">
      <div class="col">
     
            <div class="overflow-auto">   
                <h2 class="text-center">PASO 2 DE 4 COMPLETADO  </h2>
                <h4 class="text-center"> Documento en proceso de Matriculación: {{documento_inscrip}}</h4>
                <br>
                <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
                </div>
                <br>
                <div class="alert alert-success" role="alert">
                      Carga exitosa del comprobante de pago.
                </div>
                <br>
                <div class="card text-white bg-primary">
                                    <div class="card-header">
                                        <h3>PASO 3 CONTROL DEL COLEGIO</h3>
                                    </div>
                                    <div class="card-body bg-light text-secondary">
                                     <h5 class="card-title">Paso de Control</h5>
                                         <h5 class="text-center"> PRE-MATRICULACIÓN TERMINADO EXITOSAMENTE.</h5>
                                         <h6> DOCUMENTO PRE-MATRICULADO: {{documento}}</h6>
                                         
                                        <p class="card-text">Cargado el Formulario de Solicitud de Matriculación e informado el pago la PRE-MATRICULACIÓN ha terminado, el paso siguiente será el control de la Secretaría según el Nivel de Enseñanza. En caso afirmativo u observación se informará por correo la aceptación o las observaciones, luego podrá ingresar a la misma direccion de solicitud de matriculación y terminar la última etapa: Impresión del Formulario de Solicitud, firmar en los espacios requeridos y entregar en el Colegio en un buzón específico</p>
                                       
                                        <a href="/inscripcion" class="btn btn-success">Volver al Inicio de Solicitud</a>
                                    </div>
                </div>
            </div>
    </div>
   </div>
</div>