<div class="container">

  <div class="row">
      <div class="col">
     
            <div class="overflow-auto">   
                <h2 class="text-center">PASO 3 DE 4 COMPLETADO  </h2>
                <h3 class="text-center">Solicitud de Matriculación:  APROBADO</h3>
                <h4 class="text-center"> Documento  Matriculado: {{documento_inscrip}}</h4>
                <br>
                <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
                   </div>
                   <br>
                 <div class="card text-white bg-primary">
                                    <div class="card-header">
                                        <h3>PASO 4 IMPRIMIR FORMULARIO SOLICITUD DE MATRICULACIÓN </h3>
                                    </div>
                                    <div class="card-body bg-light text-secondary">
                                     <h5 class="card-title">Imprimir Formulario</h5>
                                        <p class="card-text">Como su Solicitud de Matriculación se encuentra aprobada Ud posee dos(2) Opciones.</p>
                                        
                                        <p class="card-text">1) Imprimir formulario de Solicitud de Matriculación, para ello presione el botón Imprimir.</p>
                                        <p class="card-text"    Nota: Una vez impreso la Solicitud de Matriculación se debe firmar en los lugares solicitados y llevarlo al Colegio. Un buzón en la entrada del Colegio por Av Rademacher estará disponible para recibir las Solicitudes de Matriculación procesado de forma Online. </p>
                                        <p class="card-text">2) No imprimir formulario. La institución hará impresión masiva de los formularios aprobados, luego se contactará con Ud para coorrdinar la firma del Formulario</p>
                                        <br>
                                        <a href="/report" class="btn btn-success" > Imprimir</a>
                                        <a href="/inscripcion" class="btn btn-success" >Volver Inicio Solitud</a>
                                     </div>
                </div>
            </div>
    </div>
   </div>
</div>