<div class="alert alert-success" role="alert">
  Se ha guardado con éxito la edición del formulario de solicitud de matriculación.
</div>
<div class="jumbotron">
  <h1 class="display-4">Edición Exitosa!!</h1>
  <p class="lead">Como se ha guardado con éxito los cambios cierre esta pestaña y haga click en la pestaña donde se encuentra el listado de matriculas.</p>
</div>