<div class="alert alert-danger" role="alert">
  Error al guardar la edición del formulario de solicitud de matriculación.
</div>
<div class="jumbotron">
  <h1 class="display-4">Error en la Edición del Formulario de Solicitud de Matrícula</h1>
  <p class="lead">Cierre esta pestaña y haga click en la pestaña donde se encuentra el listado de matriculas y vuelva a intentar la edición, si persite el error contactar con el administrador.</p>
</div>