<div class="alert alert-danger" role="alert">
  Error al enviar correo electr칩nico al Tutor
</div>
<div class="jumbotron">
  <h1 class="display-4">Correo Electr칩nico no enviado</h1>
  <p class="lead">Se produjo un error cierre esta pesta침a y haga click en la pesta침a donde se encuentra el listado de matriculas para volver a intentar, si persiste contacte con el administrador.</p>
</div>