<div class="alert alert-success" role="alert">
  Se ha enviado con éxito el email.
</div>
<div class="jumbotron">
  <h1 class="display-4">Envío de Correo Electrónico Satisfactorio!!</h1>
  <p class="lead">Como se ha enviado con éxito el correo al tutor cierre esta pestaña y haga click en la pestaña donde se encuentra el listado de matriculas para continuar.</p>
</div>