<div class="alert alert-success" role="alert">
  Se ha autorizado con éxito la inscripción.
</div>
<div class="jumbotron">
  <h1 class="display-4">Proceso de Autorización Satisfactorio!!</h1>
  <p class="lead">Se ha enviado con éxito la autorización de la inscripción y el correo automático al tutor </p>
  <hr class="my-4">
  <p> Hacer click en el botón Volver para continuar con el listado de matriculas.</p> 
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/audit" role="button">Volver</a>
  </p>
</div>

