<div class="alert alert-danger" role="alert">
  Error al ejecutar la autorización del formulario de solicitud de matriculación.
</div>
<div class="jumbotron">
  <h1 class="display-4">Error en la autorización del Formulario de Solicitud de Matrícula</h1>
  <p class="lead">Proceda hacer click en el botón volver y vuelva a intentar la autorización de la matrícula</p>
  <hr class="my-4">
  <p>Si persite el error contactar con el administrador.</p>
  <p class="lead">
    <a class="btn btn-danger btn-lg" href="/audit" role="button">Volver</a>
  </p>
</div>